
.draftEditor-editor{

  .custom-draft-block{
    padding: 0;
  }

  .atomic-block-insert{

    position: relative;

    &:hover{
      border-color: #ddd;
      .close-icon{
        visibility: visible;
      }
    }

    .close-icon{
      visibility: hidden;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      padding: 3px 5px;
      color: #999;
      &:hover{
        color: #333;
      }
    }

  }

}
